<% if current_user && current_user == @video.user%>
	<div>
		<%= link_to "Edit video", edit_video_path(@video), class: "btn btn-warning" %>
		<%= link_to "Remove video", video_path(@video), 
					method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>	
	</div>	
<% end %>		