<% unless (@purchased) then %>
	<div class="disable"> </div>
<% end %>
<iframe width="853" height="480" src="//www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
