<div class="page-header" id="banner">
	<h1>Videos</h1>
	<%= link_to "Add Video", new_video_path, :class => "btn btn-success" %>
</div>

<% @videos.in_groups_of(3, false) do |videos| %>
	<div class="row">
		<%= render videos %>
	</div>
<% end %>