<div class="page-header" id="banner">
	<div class="row">
		<div class="col-lg-6">
			<h1>Videos</h1>
		</div>
	</div>
</div>
<%= link_to "Add Video", new_video_path, :class => "btn btn-success" %>

<div class="row">
	<%= render @videos %>
</div>
