<div class="page-header" id="banner">
	<h1>Videos</h1>
</div>
<%= link_to "Add Video", new_video_path, :class => "btn btn-success" %>

<% @videos.in_groups_of(2, false) do |videos| %>
	<div class="row">
		<%= render videos %>
	</div>
<% end %>