body {
	padding-top: 50px;
}

.video-thumbnail {
	padding: 10px;
}

.price {
	font-size: 3em;
}

iframe {
	margin-bottom: 20px;
}

img {
	width: 100%;
	height: auto;
}

div.disable {
	display:block; 
	margin-left: 15px; 
	position:absolute; 
	top: 0; 
	left: 0; 
	width: 853px;
	height: 480px;
}

.page-header {
	position: relative;
}

.page-header h1 {
	display: inline-block;
}

.page-header a {
	position: absolute;
	right: 5px;
	bottom: 20px;
}