body {
	padding-top: 50px;
}

.video-thumbnail {
	padding: 18px;
}

.price {
	font-size: 3em;
}

iframe {
	margin-bottom: 20px;
}

img {
	width: 100%;
	height: auto;
}

div.disable {
	display:block; 
	margin-left: 15px; 
	position:absolute; 
	top: 0; 
	left: 0; 
	width: 853px;
	height: 480px;
}