<div class="col-lg-4">
	<div class="video-thumbnail">
		<%= link_to image_tag(category.thumbnail), category_path(category) %>
		<h3><%= link_to category.name, category_path(category) %></h3>
	</div>
</div>